<div class="flex flex-col  relative h-fit  pb-2 "  >
  {% comment %}  Image {% endcomment %}
  <a href="{{ product.url }}">
   <div class='featuredProductImage  bg-slate-500 bg-opacity-5 h-fit rounded-sm overflow-hidden ' style='background-color:{{ product.metafields.custom.acsent_color }}' >
       {{ product.image | image_url: width: 700 | image_tag }}
   </div>

   <!-- Item error messages -->
   <div class="w-full p-2  absolute bottom-0 left-0 right-0">
     <div class=' caption bg-orange-400 flex justify-center items-center rounded-md z-30  ' data-ajax-cart-errors="{{ product.key }}"></div>
   </div>

 </a> 
   {% comment %}  info start  {% endcomment %}   
   <div class='pb-6 p-2  flex justify-between w-full  ' >

      <div class="price  w-full ">

        {% assign price = product.price | money %}

        {% render 'info-line' with { title: 'Name', value: product.title } %}
        {% render 'info-line' with { title:'Price', value:  product } %}

     <div class="quanity flex p-1 border-t-2 border-black border-dotted ">
      <div class="w-full ">
        <p> Quantity </p>
      </div>
       <ajax-cart-quantity>
        {% comment %}  width wont change for some reason  {% endcomment %}
         <div class='flex w-40'>
         <!-- "Minus one" button -->
               <a data-ajax-cart-quantity-minus class=' pb-1 hover:bg-stone-800 hover:text-white text-bold h-5 w-5 bg-stone-500 bg-opacity-10 flex justify-center items-center text-center rounded-full backdrop-blur-md '
                 href="{{ routes.cart_change_url }}?line={{ index }}&quantity={{ product.quantity | minus: 1 }}" >
               -
               </a>
             
         <!-- Item quantity input -->
         <input data-ajax-cart-quantity-input="{{ index }}"
           name="updates[]"
           value="{{ product.quantity }}"
           type="number"
           form="my-ajax-cart-form"
            class=' bg-transparent w-10 text-center  pointer-events-none '
         />
       
         <!-- "Plus one" button -->
         <a data-ajax-cart-quantity-plus class=' pb-1 hover:bg-stone-800 hover:text-white text-bold h-5 w-5 bg-stone-500 bg-opacity-10 flex justify-center items-center text-center rounded-full backdrop-blur-md '
           href="{{ routes.cart_change_url }}?line={{ index }}&quantity={{ product.quantity | plus: 1 }}">
           +
         </a>
       </div>

       
       
       </ajax-cart-quantity>
       
         <!-- "Remove item" button -->
       <div class=' bg-white bg-opacity-50 w-8 h-8 rounded-full  backdrop-blur-lg  absolute top-2 left-2 flex  justify-center items-center pt-1'>
         <p class='text-[28px] leading-none '>
         <a class='text-3xl leading-none mt-4 ' data-ajax-cart-request-button href="{{ product.url_to_remove }}">
           ˟
         </a>
       </p>
       </div> 
     </div>

     </div>

   </div>

</div>







