<div class="flex flex-col  relative  ">
       {% comment %}  Image {% endcomment %}
        <div class='featuredProductImage h-full rounded-sm bg-black bg-opacity-10  overflow-hidden aspect-main '>
            {{ product.image | image_url: width: 700 | image_tag }}
        </div>
        {% comment %}  info start  {% endcomment %}   
        <div class='pb-6  relative ' >
         
          
            <div><a href="{{ product.url }}">{{ product.title | escape }}</a></div>
            <div>Price: {{ product.final_price | money }}</div>
      
            <div>
              Quantity:
              <ajax-cart-quantity>
                <!-- "Minus one" button -->
                <a data-ajax-cart-quantity-minus
                  href="{{ routes.cart_change_url }}?line={{ index }}&quantity={{ product.quantity | minus: 1 }}" > 
                  Minus one 
                </a>
          
                <!-- Item quantity input -->
                <input data-ajax-cart-quantity-input="{{ index }}"
                  name="updates[]" 
                  value="{{ product.quantity }}" 
                  type="number" 
                  form="my-ajax-cart-form" />
        
                <!-- "Plus one" button -->
                <a data-ajax-cart-quantity-plus
                  href="{{ routes.cart_change_url }}?line={{ index }}&quantity={{ product.quantity | plus: 1 }}"> 
                  Plus one 
                </a>
              </ajax-cart-quantity>
            </div>
      
            <!-- Item error messages -->
            <div data-ajax-cart-errors="{{ product.key }}"></div>
        
            <div>Total: <strong>{{ product.final_line_price | money }}</strong></div>
      
            <!-- "Remove item" button -->
            <a data-ajax-cart-request-button href="{{ product.url_to_remove }}">
              Remove
            </a>
      
            <hr/>

        </div>

</div>

    