<div class="flex flex-col  relative   pt-2 ">
<a href="{{ product.url }}" >
<div class=" "> 

    {% if product.featured_image %}
        <div  class=' featuredProductImage h-full rounded-sm bg-c1  bg-opacity-50 overflow-hidden aspect-main'>
          
            {{ product.featured_image | image_url: width: 700 | image_tag }}
           
           
        </div>
       
      

    {% endif %}
</div>
<div class=' pt-1 pb-2'>
    <p> {{ product.title }} </p>
    <p class='opacity-50' > {{ product.price | money }} </p>
    <p> {{ product.compare_at_price | money_with_currency }} </p>
</div>


</a>
</div>
