




<div class="my-cart  bg-opacity-80 bg-yellow-500 backdrop-blur-lg   overflow-scroll z-50">
  <div class='pl-2 pt-1 w-full 0  '>
    <h2>Cart ({{ cart.item_count }})</h2>
  </div>
    <div class="my-cart__items flex gap-2 p-2">
      <!-- Loop through cart items -->
      {% for line_item in cart.items %}
        {% assign line_item_index = forloop.index %}
       
        <div class='card relative bg-red-500 overflow-hidden  w-fit h-full  rounded-sm  bg-opacity-65'>
            <div class=' w-40'>
            {{ line_item.image | image_url: width: 40 | image_tag }}
            </div>
            <div class='card p-2  ' >
        <a href="{{ line_item.url }}">{{ line_item.title | escape }}</a>
        <div> <p> Price: {{ line_item.final_price | money }} </p></div>
    
        <div class='flex'>
        <p>
          Quantity:
        </p>
          <!-- "Minus one" button -->
          <a href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | minus: 1 }}" > 
            -
          </a>
    
          <!-- Item quantity input -->
          <input 
            class=' text-center '
            name="updates[]" 
            value="{{ line_item.quantity }}" 
            type="number" 
            form="my-ajax-cart-form" />
  
          <!-- "Plus one" button -->
          <a href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | plus: 1 }}"> 
            +
          </a>
        </div>
    
        <div> <p> Total: {{ line_item.final_line_price | money }}</p> </div>
  
        <!-- "Remove item" button -->
        <a class=' leading-none flex align-middle justify-center absolute right-2 top-2 bg-white p-2 rounded-full h-7 w-7' href="{{ line_item.url_to_remove }}">
          x
        </a>

    </div>
  
        
    </div>
      {% endfor %}
    </div>
    
    {% form 'cart', cart, id: 'my-ajax-cart-form' %}
    <div class='p-2'>
      <button class='p-2 bg-stone-500 w-fit' type="submit" name="checkout">
         Checkout — {{ cart.total_price | money_with_currency }}
      </button> 
      </div>
    {% endform %}


  </div>


  
  
  {% schema %} { "name": "My Ajax cart" } {% endschema %} 