

    <div class=" grid grid-col-8"> 
        <div class=" grid grid-col-8 bg-red-500 p-20"> 
            {% for image in product.images %}
                <div class=" object-contain bg-stone-50 "> 
                {{ image | image_url: width: 700 | image_tag }}
                </div>
            {% endfor %}
        </div>


    <div class=" p-20 pt-40 w-full h-screen flex align-middle  " > 

        <div class=' w-[400px] sticky top-0'>

        <h2>  {{product.title}} </h2>
        <p> {{ product.description }}</p>

        <div class='grid grid-cols-2'>  
        <p> Width </p>
        <p> {{ product.metafields.custom.width }} </p>
        </div>

        <div class='grid grid-cols-2'>  
        <p> Height </p>
        <p> {{ product.metafields.custom.height }} </p>
        </div>

        <div class='grid grid-cols-2'>  
        <p> Burn Time </p>
        <p> {{ product.metafields.custom.burn_time }} </p>
        </div>
        <ajax-cart-product-form>
          {% render 'add-to-cart-form' with current_variant: current_variant  %}
         </ajax-cart-product-form>
    </div>
</div>

</div>