<div class='pt-28 p-2'>
    {% if collection.all_products_count > 0 %}
        <div class=' flex justify-center align-center'>
            {% assign cc = collection.title %}
               
            <div>
                {{ collection.title }}
                
            {% for link in linklists.side-menu.links %}

                {% if cc == link.title %}
                    <a class='text-stone-300' href='{{ link.url  }}' >   {{ link.title  }} </a>
                {% endif %}

                {% if cc != link.title %}
                    <a class='none-active'  href='{{ link.url }}' >  {{ link.title  }} </a>
                {% endif %}

            {% endfor %}
  
        </div>
     </div>

    <div class='grid grid-flow-dense grid-cols-5 col-span-4 gap-2   '>  
   
        {% for product in collection.products %}
                {% render 'product-card'  with {product: product} %}
            {% endfor %}
    </div>
{% else %}
    <p>Sorry, there are no products in this collection</p>
{% endif %}
</div>